.login-container {
    display: flex;
    height: 100vh;
}

.login-sidebar {
    float: left;
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    float: right;
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}