.create-group-container {
  margin: auto;
  margin-bottom: 40px;
}

.create-group-heading-container {
  display: flex;
  justify-content: space-between;
}

.create-group-heading {
  font-weight: bold;
  font-size: 25px;
  color: #2C7A7B;
  margin-bottom: 5px;
}

.icon {
  color: #2C7A7B;
  font-size: 35px;
}