.group-name-container {
  margin-bottom: 25px;
}

.group-name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-name-heading {
  font-weight: bold;
  font-size: 20px;
  color: teal;
  margin-bottom: 5px;
}

.group-name-edit-container {
  display: flex;
}

.group-name-edit-input {
  margin-right: 20px;
}

.group-id-container {
  color: grey;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.copy-button, .remove-button, .add-button {
  background: none !important;
}

.copy-icon {
  color: rgba(0, 128, 128, 0.631);
  font-size: 25px;
}

.remove-icon {
  color: rgba(206, 116, 116, 0.631);
  font-size: 25px;
}

.members-settings-container {
  margin: 25px 0px 25px 0px;
}

.members-settings-heading, .admins-settings-heading {
  font-weight: bold;
  font-size: 20px;
  color: teal;
  margin-bottom: 5px;
}

.admins-settings-container {
  margin: 25px 0px 0px 0px;
}

.add-admin-container {
  display: flex;
  align-items: center;
}

.add-icon {
  color: rgba(0, 128, 128, 0.631);
  font-size: 28px;
}