.form-container {
    width: 400px;
    font-family: Calibri, sans-serif;
    margin: 0 auto; 
}

.input-title {
    margin-bottom: 2px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-button {
    width: 100%; 
    background-color: teal;
    color: white;
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
}

.forgot-password {
    margin-top: 20px;
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline; 
}

.register-link {
    margin-top: 20px;
    margin-left: 100px;
}

.login-icon {
    color: #cdd5df;
}
