.login-sidebar {
    flex: display;
    padding: 16px 16px 140px;
    background-color: teal; 
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); 
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Calibri;
    font-size: 40px;
  }